.recordView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: red;
  width: 20%;
  margin: 20px;
}
.recordViewButtons {
  margin-top: 10px;
  display: flex;
  width: 20%;
  align-items: center;
}
.header {
  margin-bottom: 20px;
  background-color: whitesmoke;
  color: teal;
}
